@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --color-de-black: rgb(0, 0, 0);
    --cor-de--fundo: #EBECEE;
    --cor-de-nav: #ffffff;
    --cor-de-laranja: #EB9B00;
    --cor-azul-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-branco: #ffffff;
    --cor-secundaria-azul: #002F52;
}

body {
    background-color: var(--cor-de--fundo);
}

.cabecalho {
    background-color: var(--cor-de-nav);
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.container {
    display: flex;
    align-items: center;
}

.header-nav-container-1-span {
    width: 24px;
    height: 24px;
    background-image: url("../Assets/Menu.svg");
    display: inline-block; 
    background-repeat: no-repeat;
    background-position: center;
}

.container-img {
    padding: 20px;
}

.container-img-1 {
    padding: 20px;
}

.contatiner-img-2 {
    padding: 20px;
}
.container-img-3 {
    padding: 20px;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%; 
    padding: 10%;
    background-color: #ffffff;
}

.container-botao:checked~.lista-menu{
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista-menu-link {
    background: var(--cor-azul-gradient);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.lista-menu-link:hover {
    background: var(--cor-de-laranja);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-transform: uppercase;
}

.lista-menu-titulo {
    color: var(--cor-de-laranja);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}

.container-botao {
    display: none;
}

.main-section-1 {
    display: flex;
    text-align: center;
    padding: 2.5em 2em;
    justify-content: center;
    background: var(--cor-azul-gradient);
}

.main-section-1-div-1-h2 {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--cor-branco);

}

.main-section-1-div-1-paragrafo {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: var(--cor-branco);
    font-weight: 400;
    margin: 1em 0;
}

.main-section-1-div-1-input {
    outline: none;
    padding: 1em;
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: var(--cor-branco);
    border: 1px solid var(--cor-branco);
    border-radius: 20px;
}
.main-section-1-div-1-input::placeholder {
    color: var(--cor-branco);
    font-size: 14px;
    font-weight: 400;
    background: url("../Assets/Pesquisa.svg") no-repeat;
    background-position: 2em;
}

.main-section-3 {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--cor-de-laranja);
    background-color:var(--cor-branco);
    text-align: center;
    padding: 20px 0;
}

.main-section-2-div-2 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--cor-de-laranja);
    background-color:var(--cor-branco);
    text-align: center;
    padding: 20px 0;
}

.swiper-slide img {
    width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 1em 0;
}

.card {
    box-sizing: border-box;
    margin-top: 20px;
    margin: 1em;
    background-color: var(--cor-branco);
    box-shadow: 0px 4px 4px #1f1f1f;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 1.5em;
    gap: 20px;
}

.card-descricao-div-1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-title {
    color: var(--cor-de-laranja);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.card-title-book {
    color: var(--cor-secundaria-azul);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.card-text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
.card-descricao-div-1-2 {
    display: flex;
}
.card-div-2-button {
    background-color: var(--cor-de-laranja);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 1em 2.2em;
    margin-top: 20px;
    text-decoration: none;
}

.card-descricao-div-2 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main-section-5 {
    margin-top: 20px;
}

.main-section-5-div-1 {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--cor-de-laranja);
    background-color:var(--cor-branco);
    text-align: center;
    padding: 20px 0;
}

.main-section-6 {
    margin-top: 20px;
}

.main-section-7 {
    box-sizing: border-box;
    margin-top: 20px;
    margin: 1em;
    background-color: var(--cor-branco);
    box-shadow: 0px 4px 4px #1f1f1f;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 1.5em;
    gap: 20px;
}

.card-div-2-button-2 {
    background-color: var(--cor-de-laranja);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 1em 2em;
    margin-top: 20px;
    text-decoration: none;
}

.main-section-8 {
    display: flex;
    text-align: center;
    padding: 2.5em 2em;
    justify-content: center;
    background: var(--cor-azul-gradient);
}

.main-section-8-title {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--cor-branco);
}

.main-section-8-div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.main-section-8-button {
    background-color: var(--cor-de-laranja);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 1em 1em;
    margin-top: 20px;
    text-decoration: none;
    font-size: 1rem;
}

.main-section-8-button-especial {
    background-color: var(--cor-de-laranja);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 1em 3em;
    margin-top: 20px;
    text-decoration: none;
    font-size: 14px;
}

.main-section-9 {
    padding: 2rem;
    margin-top: 20px;
}

.main-section-9-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-section-9-title {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--cor-secundaria-azul);
}

.main-section-9-paragrafo {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--cor-secundaria-azul);
}

.main-section-9-div-1-input {
    outline: none;
    padding: 1em;
    font-size: 14px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: var(--cor-secundaria-azul);
    border: 1px solid var(--cor-secundaria-azul);
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-section-9-div-1-input::placeholder {
    color: var(--cor-secundaria-azul);
    font-size: 14px;
    font-weight: 400;
    background: url("../Assets/mail_black_24dp\ 1.svg") no-repeat;
    background-position: 2em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer {
    background-color: var(--cor-branco);
    padding: 1em;
}

.footer-title {
    background: var(--cor-secundaria-azul);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}